---
const { exampleName } = Astro.props;
const host = import.meta.env.PROD ? '/' : 'http://localhost:5555/';
---

<div
  class="bg-secondary-subtle d-flex justify-content-center align-items-center position-fixed h-100 w-inherit p-inherit"
>
  <div class="h-75 w-auto ratio ratio-3x4 bg-black">
    <iframe class="h-100 w-100" src={`${host}#/${exampleName}`}>
      </div> </div>
    </iframe>
  </div>
</div>
