---
const { exampleName, app = 'examples' } = Astro.props;
const host = import.meta.env.PROD
  ? `/flutter/${app}/`
  : 'http://localhost:5555/';
---

<div
  class="bg-secondary-subtle d-flex justify-content-center align-items-center position-fixed h-100 w-inherit p-inherit"
>
  <div class="h-75 w-auto ratio ratio-3x4 bg-black">
    {
      exampleName ? (
        <iframe class="h-100 w-100" src={`${host}#/${exampleName}`} />
      ) : (
        <div class="d-flex justify-content-center align-items-center text-white fs-3">
          Live Demo
        </div>
      )
    }
  </div>
</div>
