---
const { exampleName, exampleEntries } = Astro.props;
---

<div
  class="position-fixed d-flex flex-column h-100 start-0 w-inherit p-inherit"
>
  <a
    href="/"
    class="d-flex align-items-center text-decoration-none text-reset mt-3 ms-3"
  >
    <img src="/logo.gif" class="h-10" />
    <img src="/logo.png" class="h-10" />
    <div class="ms-2 font-dot">
      <span class="fs-4">Flameの法則</span>
      <span class="badge text-bg-secondary rounded-0">v1.14.0 対応</span>
    </div>
  </a>

  <div class="mt-3">
    <div class="d-grid">
      <button
        class="btn btn-light btn-sm text-start"
        data-bs-toggle="modal"
        data-bs-target="#search"
      >
        <i class="bi-search ms-2"></i>
        <span class="ms-1">Search</span>
      </button>
    </div>
  </div>

  <div class="list-group flex-fill overflow-auto mt-1 small rounded-0">
    {
      exampleEntries
        .sort((a, b) => parseFloat(a.data.id) - parseFloat(b.data.id))
        .map((entry) => (
          <a
            href={`/examples/${entry.slug}#${entry.slug}`}
            class={`list-group-item list-group-item-action border-0 rounded ${
              entry.slug === exampleName ? 'bg-secondary-subtle' : ''
            }`}
            id={entry.slug}
          >
            {entry.data.title}
          </a>
        ))
    }
  </div>

  <div class="mt-1 mb-2 text-center small ad">
    <p class="mb-1">[PR] 第8章にFlameが載ってる模様</p>
    <div>
      <a
        href="https://www.amazon.co.jp/dp/4798068527?&linkCode=ll1&tag=flutter-flame-22&linkId=2f4425a5e2fea26916bb8a35ae278ce5&language=ja_JP&ref_=as_li_ss_tl"
        target="_blank"
      >
        マルチプラットフォーム対応 最新フレームワーク Flutter 3入門
      </a>
    </div>
  </div>
</div>

<style lang="scss">
  a {
    img[src$='logo.gif'] {
      display: none;
    }

    &:hover {
      img[src$='logo.gif'] {
        display: inline;
      }

      img[src$='logo.png'] {
        display: none;
      }
    }
  }

  .ad {
    img {
      max-width: 80%;
      height: auto;
    }
  }
</style>
