---
const { exampleName, exampleEntries } = Astro.props;
const isProd = import.meta.env.PROD;
---

<div
  class="position-fixed d-flex flex-column h-100 start-0 w-inherit p-inherit"
>
  <a
    href="/"
    class="d-flex align-items-center text-decoration-none text-reset mt-3 ms-3"
  >
    <img src="/logo.gif" class="h-10" />
    <img src="/logo.png" class="h-10" />
    <div class="ms-2 font-dot">
      <span class="fs-4">Flameの法則</span>
      <span class="badge text-bg-secondary rounded-0">v1.8.1 対応</span>
    </div>
  </a>

  <div class="mt-3">
    <div class="d-grid">
      <button
        class="btn btn-light btn-sm text-start"
        data-bs-toggle="modal"
        data-bs-target="#search"
      >
        <i class="bi-search ms-2"></i>
        <span class="ms-1">Search</span>
      </button>
    </div>
  </div>

  <div class="list-group flex-fill overflow-auto mt-1 small rounded-0">
    {
      exampleEntries
        .sort((a, b) => parseFloat(a.data.id) - parseFloat(b.data.id))
        .map((entry) => (
          <a
            href={`/examples/${entry.slug}#${entry.slug}`}
            class={`list-group-item list-group-item-action border-0 rounded ${
              entry.slug === exampleName ? 'bg-secondary-subtle' : ''
            }`}
            id={entry.slug}
          >
            {entry.data.title}
          </a>
        ))
    }
  </div>

  <div class="mt-1 mb-2 text-center small ad">
    <p class="mb-1">第8章にFlameが載ってる模様</p>
    <div>
      {
        isProd ? (
          <>
            <a
              href="https://www.amazon.co.jp/%E3%83%9E%E3%83%AB%E3%83%81%E3%83%97%E3%83%A9%E3%83%83%E3%83%88%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0%E5%AF%BE%E5%BF%9C-%E6%9C%80%E6%96%B0%E3%83%95%E3%83%AC%E3%83%BC%E3%83%A0%E3%83%AF%E3%83%BC%E3%82%AF-Flutter-3%E5%85%A5%E9%96%80-%E6%8E%8C%E7%94%B0%E6%B4%A5%E8%80%B6%E4%B9%83/dp/4798068527?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&crid=3BJEKEFODRUJX&keywords=flutter+flame&qid=1682766119&s=books&sprefix=flutter+flam%2Cstripbooks%2C192&sr=1-1&linkCode=li3&tag=flutter-flame-22&linkId=e0bcfe1cb03210824b843b1e041eefac&language=ja_JP&ref_=as_li_ss_il"
              target="_blank"
            >
              <img
                border="0"
                src="//ws-fe.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=4798068527&Format=_SL250_&ID=AsinImage&MarketPlace=JP&ServiceVersion=20070822&WS=1&tag=flutter-flame-22&language=ja_JP"
              />
            </a>
            <img
              src="https://ir-jp.amazon-adsystem.com/e/ir?t=flutter-flame-22&language=ja_JP&l=li3&o=9&a=4798068527"
              width="1"
              height="1"
              border="0"
              alt=""
              style="border:none !important; margin:0px !important;"
            />
          </>
        ) : (
          <a href="#">
            <img width="194" height="250" class="bg-secondary-subtle" />
          </a>
        )
      }
    </div>
  </div>
</div>

<style lang="scss">
  a {
    img[src$='logo.gif'] {
      display: none;
    }

    &:hover {
      img[src$='logo.gif'] {
        display: inline;
      }

      img[src$='logo.png'] {
        display: none;
      }
    }
  }

  .ad {
    img {
      max-width: 80%;
      height: auto;
    }
  }
</style>
