---
import { getCollection } from 'astro:content';

const { limit = 0 } = Astro.props;
let exampleEntries = (await getCollection('examples')).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
if (limit) {
  exampleEntries = exampleEntries.slice(0, limit);
}
---

<ul class="list-unstyled">
  {
    exampleEntries.map((entry) => (
      <li>
        <span class="font-monospace">
          {entry.data.date.toLocaleDateString('sv-SE')}:
        </span>
        <a href={`/examples/${entry.slug}#${entry.slug}`}>{entry.data.title}</a>
      </li>
    ))
  }
  {
    limit > 0 && (
      <li>
        <a href="/archive">もっと見る</a>
      </li>
    )
  }
</ul>
