---
import { getCollection } from 'astro:content';
import ExampleLayout from '../../layouts/ExampleLayout.astro';

export async function getStaticPaths() {
  const exampleEntries = await getCollection('examples');
  return exampleEntries.map((entry) => ({
    params: { exampleName: entry.slug },
    props: { entry },
  }));
}

const { exampleName } = Astro.params;
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<ExampleLayout title={entry.data.title}>
  <Content />
  <ul>
    {[...new Array(30)].map(() => <li>dummy</li>)}
  </ul>
</ExampleLayout>
